@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: 'Outfit', 'Ovo', 'sans-serif';
  background: #161513;
}

.social-icon {
    display: inline-flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    border-radius: 50%; 
    transition: background-color 0.3s ease;
}

.social-icon:hover{
    background-color: rgb(200, 124, 9);
    border: 2px solid rgba(255, 255, 255, 0.673);
}

.project-img:hover{
  border: 3px solid #ff0095;
  border-radius: 10px;
  filter: brightness(1.1);
  transition: filter 0.3s ease-in-out;
  transform: translate(5px, -5px);
  transition: transform 0.3s ease-in-out;
}

.bg-btn{
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
}

.text-color{
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icon{
  border: 2px solid rgba(255, 255, 255, 0.938);
}

.social-icon:hover{
  background-color: rgb(230, 228, 227);
}

body::after {
  content: "xs";
  position: fixed;
  right: 0;
  top: 0;
  background: red;
  color: white;
  padding: 5px;
  z-index: 9999;
}

@media (min-width: 640px) {
  body::after {
    content: "sm";
  }
}

@media (min-width: 768px) {
  body::after {
    content: "md";
  }
}

@media (min-width: 1024px) {
  body::after {
    content: "lg";
  }
}

@media (min-width: 1280px) {
  body::after {
    content: "xl";
  }
}

@media (min-width: 1536px) {
  body::after {
    content: "2xl";
  }
}